{
  "presets": [
      [ "@babel/preset-env", { "targets": { "esmodules": true } } ], // Es el nombre de la biblioteca que instalaste
      [ "@babel/preset-react", { "runtime": "automatic" } ],
      "babel-preset-vite" // Es el nombre de la biblioteca que instalaste
      
  ],
  "plugins": [
      [ "babel-plugin-transform-import-meta"]
      
  ]
}
