{
  "presets": [
      [ "@babel/preset-env", { "targets": { "esmodules": true } } ], // Es el nombre de la biblioteca que instalaste
      [ "@babel/preset-react", { "runtime": "automatic" } ], // Es el nombre de la biblioteca que instalaste
      ["babel-plugin-transform-import-meta", { "module": "ES6" }]
  ]
}
